<div class="container" id="admin" align="center">
	<div class="row">

		<h1>Admin Let's Product Hunt!!</h1>

		<br />
		<br />
		<div class="row"><div class="col-md-12">
			<button class="btn" ng-click="getProduct()">Get title & description</button>
		</div></div>
		<br />
		<br />

		<form role="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">URL</span>
                            <input
                            	type="url"
                            	class="form-control"
								placeholder="Enter URL"
                            	ng-model="product.url" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Title</span>
                            <input
                            	type="text"
                            	class="form-control"
                            	placeholder="Enter Title"
                            	ng-model="product.title" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Des</span>
                            <input
                            	type="text"
                            	class="form-control"
                            	placeholder="Enter Description"
                            	ng-model="product.description" />
                        </div>
                    </div>
                </div>
                <br>
                <hr />
                <div class="row"><div class="col-md-12">
	                <button class="btn btn-block btn-primary" ng-click="createProduct()">Create Recommend Service</button>
                </div></div>

            </form>

	</div>
</div>