<div class="col-md-12" ng-include="'assets/html/card-modal.html'"></div>
<input type="" value="{{location.href}}" class="col-md-12" id="top-url" />
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h3>{{wall.title}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="create-card-wrap col-md-12" ng-click="createCard($event)">
				<span class="create-card glyphicon glyphicon-plus"></span>
			</div>
		</div>
		<div class="col-md-3" ng-repeat="card in wall.cards">
			<div class="card col-md-12" ng-click="openCard(card)">
				<h4> {{card.title}} </h4>
				<a href="{{card.url}}" target="_blank" class="card-link">
					<span class="glyphicon glyphicon-link"></span>
					<span class="card-link">{{card.url}}</span>
				</a>
			</div>
		</div>
	</div>
</div>