<div class="container-fluid">

	<div class="row latest-card" collapse="isCollapsed">
		<div class="latest-card padding10 margin0 pointer col-md-2" ng-repeat="card in latestCards">
			<div class="latest-card-content" ng-click="linkCard($event, card)">{{card.title}}</div>
		</div>
	</div>

	<div class="row latest-card-nav" ng-hide="latestCards.length === 0">
		<hr />
		<div class="margin0 pointer" ng-click="toggleCollapse()">
			<span>最近使ったWall</span>
		</div>
	</div>

	<div ng-include="'assets/html/header.html'"></div>
    <div class="col-md-12" ng-include="'assets/html/modal.html'"></div>
	<div class="panel-group" id="panel-toppage" ng-include="'assets/html/qa.html'"></div>
</div>