.test {
  background-color: #ebebeb; }

.margin0 {
  margin: 0; }

.pointer:hover {
  cursor: pointer; }

.table-row {
  display: table;
  text-align: left; }

.table-cell {
  display: table-cell;
  text-align: left;
  vertical-align: middle; }

.table-cell-top {
  padding-top: 2px;
  display: table-cell;
  text-align: left;
  vertical-align: top; }

.padding-left10 {
  padding-left: 10px; }

.padding10 {
  padding: 10px; }

.no-wrap-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.container-fluid > .row {
  margin: 0; }

html, body {
  min-height: 100%;
  position: relative;
  background-color: #f3f3f3; }

.ng-invalid input {
  box-shadow: inset 0px 0px 1px 1px #ffaaaa; }
  .ng-invalid input:focus {
    border: 1px #ffaaaa solid;
    box-shadow: 0px 0px 1px 1px #ffaaaa; }

a {
  color: white; }
  a:hover {
    color: #f2f2f2;
    text-decoration: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.modal-lg {
  width: 700px; }

.latest-card {
  background-color: #909293; }
  .latest-card .latest-card-content {
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    height: 40px;
    border: 2px solid grey; }
    .latest-card .latest-card-content:hover {
      background-color: #f3f3f3; }

.latest-card-nav hr {
  margin: 0;
  height: 5px;
  color: #909293;
  background-color: #909293;
  border: inherit; }
.latest-card-nav div {
  float: right;
  margin-right: 2%;
  color: white;
  text-align: center;
  background-color: #909293;
  width: 130px;
  padding-top: 2px;
  height: 26px;
  border-radius: 0px 0px 5px 5px; }
  .latest-card-nav div:hover {
    color: #f3f3f3; }

.ng-pristine .alert {
  display: none; }

#top-url {
  margin-top: 0; }

#header-close {
  margin-right: 10px; }

#page-header {
  margin: 100px 0 80px 0;
  text-align: center; }
  #page-header button {
    margin-top: 80px;
    font-size: 18px; }

.modal-wrap {
  position: fixed;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 100001; }
  .modal-wrap .modal-wrap-content {
    color: black;
    z-index: 100002;
    margin-top: 8%; }
  .modal-wrap .home-circle {
    text-align: center;
    margin: 50px auto; }
  .modal-wrap .home-circle a {
    font-size: 20px;
    border-radius: 50%;
    border: 10px solid #fafafa;
    padding: 20px;
    text-align: center;
    color: #9daab1; }
    .modal-wrap .home-circle a:hover {
      background-color: white;
      color: black; }
  .modal-wrap input[type=password] {
    background-color: white;
    font-size: 20px;
    height: 40px; }
  .modal-wrap button {
    border-radius: 5px;
    background-color: #505050;
    color: white;
    margin: 30px auto; }
    .modal-wrap button:hover {
      color: #f8f8f8;
      opacity: .9; }

.app-nav {
  background-color: #909293;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.app-card-wrap {
  margin: 50px auto; }

.nav-text {
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #9daab1;
  margin: 5px 0px 5px 15px;
  padding: 0px 7px;
  text-align: center;
  border: 1px solid #abb0b3;
  border-radius: 5px; }

.create-card-wrap {
  background-color: white;
  margin-top: 10px;
  min-height: 78px;
  color: gray;
  display: table;
  border: 2px solid white;
  text-align: center; }
  .create-card-wrap:hover {
    cursor: pointer;
    opacity: .9; }

.create-card {
  display: table-cell;
  font-size: 28px;
  vertical-align: middle; }
  .create-card:hover {
    opacity: .7; }

.card {
  background-color: white;
  margin-top: 10px;
  min-height: 48px;
  color: gray;
  padding: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: padding-box; }
  .card:hover {
    cursor: pointer;
    opacity: .9; }

.modal-title {
  padding: 0px 10px;
  display: block;
  overflow: auto;
  word-break: break-all; }
  .modal-title span:hover {
    opacity: .5; }

.card-description .glyphicon-align-left {
  padding-top: 6px;
  font-size: 13px; }
.card-description .description-text {
  font-size: 16px; }

.url-link {
  font-size: 14px;
  padding: 5px;
  background-color: #f3f3f3; }

.url-text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .url-text .glyphicon-link {
    width: 15px; }
  .url-text a {
    color: gray; }
    .url-text a:hover {
      color: black; }
    .url-text a .ng-binding:hover {
      text-decoration: underline; }
    .url-text a small:hover {
      color: gray;
      text-decoration: underline; }

.url-modal-text {
  position: relative;
  left: 9px;
  top: -7px; }
  .url-modal-text .glyphicon-link {
    width: 20px; }

.modal-footer {
  text-align: left;
  padding: 10px 10px 10px 20px; }
  .modal-footer span {
    display: inline-block;
    font-size: 14px;
    margin-right: 8px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px 0;
  background-color: #909293;
  color: white;
  font-size: 12px; }
