<script type="text/ng-template" id="card-modal.html">

	<!-- modal header -->
    <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
        <div ng-hide="editFlags.title">
        	<h4 class="modal-title">
        		<span class="pointer" ng-click="toggleTitle()">{{card.title}}</span>
        	</h4>
        </div>
        <h4 class="modal-title" ng-show="editFlags.title">
        	<input type="text" ng-model="card.title" size="30" />
        	<button ng-click="toggleTitle()" class="btn btn-default btn-sm">Save</button>
        </h4>
    </div>
    <!-- modal header -->

    <!-- modal body -->
    <div class="modal-body">
		<div class="row">
			<div class="col-md-9">

				<div class="row">
					<!-- url -->
					<div ng-hide="editFlags.url">
						<div class="col-md-8 url-link url-modal-text">
							<div class="table-cell-top url-text">
								<a ng-href="{{card.url}}" class="pointer">
									<span class="glyphicon glyphicon-link"></span>
									<span>{{card.url}}</span>
								</a>
							</div>
						</div>
						<div class="col-md-2 url-text">
							<small ng-click="toggleUrl()" class="pointer">Edit link</small>
						</div>
					</div>

					<form ng-show="editFlags.url" novalidate="true" name="c">
						<div class="col-md-12 table-row">
							<span class="glyphicon glyphicon-link table-cell-top" style="padding-top:6px;"></span>
							<div class="table-cell-top padding-left10 form-group">
								<input
									type="url"
									name="u"
									ng-model="card.url"
									class="form-control input-sm" />
							</div>
						</div>
						<div class="col-md-12 table-row">
							<span class="glyphicon glyphicon-align-link table-cell-top" style="opacity:.0;"></span>
							<span class="table-cell-top padding-left10">
								<button
									class="btn btn-primary btn-xs"
									style="margin-top:3px;"
									ng-click="toggleUrl()"
									ng-disabled="!c.$valid">Save</button>
							</span>
						</div>
					</div>
					<!-- /url -->
				</form>

				<div class="row card-description">
					<div ng-hide="editFlags.description">
						<div class="col-md-12 table-row">
							<span class="glyphicon glyphicon-align-left table-cell-top"></span>
							<span
								class="table-cell-top padding-left10 description-text"
								style="white-space: pre;">{{card.description}}</span>
						</div>
						<div class="col-md-12 table-row">
							<span class="glyphicon glyphicon-align-left table-cell-top" style="opacity:.0;"></span>
							<span class="table-cell-top padding-left10 url-text">
								<small ng-click="toggleDescription()" class="pointer">Edit description</small>
							</span>
						</div>
					</div>
					<div class="col-md-12 table-row" ng-show="editFlags.description">
						<span class="glyphicon glyphicon-align-left table-cell-top"></span>
						<span class="table-cell-top padding-left10">
							<textarea cols="70" rows="6" ng-model="card.description"></textarea>
							<br />
							<button
								class="btn btn-primary btn-xs"
								style="margin-top:5px;"
								ng-click="toggleDescription()">Save</button>
						</span>
					</div>
				</div>

			</div>

			<div class="col-md-3">
				<div style="font-size:16px; margin-bottom:4px;">Actions</div>

					<div modalside
						style="margin-bottom:5px;"
						title="Send Mail"
						closetext="Hide"
						btnclass="btn btn-block"
						btntitle="Send Mail">

						<form role="form" autocomplete="off" novalidate ng-submit="sendMail($event)" name="f">
							<div class="form-group">
								<label for="email">Email address</label>
								<input
									type="email"
									class="form-control"
									id="email"
									name="e"
									placeholder="Enter email"
									ng-model="mail.to"
									ng-blur="blur(true)"
									required />
							</div>
							<alert type="danger" ng-show="f.e.$error.required && edited">必須項目です</alert>
							<alert type="danger" ng-show="f.e.$error.email && edited">Emailの形式で入力して下さい</alert>

							<div class="form-group">
								<label for="body">Body</label>
								<textarea
									class="form-control"
									id="uBody"
									rows="4"
									ng-model="mail.body"
									name="body"></textarea>
							</div>

							<button type="submit" class="btn btn-primary btn-block" ng-disabled="!f.$valid">送信</button>
						</form>

					</div>
					<div modalside
						style="margin-bottom:5px;"
						title="Delete?"
						closetext="Hide"
						btnclass="btn btn-block"
						btntitle="Delete">
						<h4 style="margin-bottom:8px;">This card delete?</h4>
						<button class="btn btn-danger btn-block" ng-click="cardDelete($event)">Yes</button>
					</div>
			</div>
		</div>
    </div>
    <!-- modal body -->

    <!-- modal footer -->
    <div class="modal-footer">
    	<span>
    		<span class="glyphicon glyphicon-time"></span>
    		<span>{{card.created_at}}</span></span>
    </div>
    <!-- modal footer -->


</script>