<script type="text/ng-template" id="modal.html">
		<!-- modal header -->
        <div class="modal-header">
            <button class="close" ng-click="cancel()">×</button>
            <h4 class="modal-title" id="myModalLabel">Wallを作成</h4>
        </div>
        <!-- modal header -->

		<!-- modal body -->
        <div class="modal-body">
            <form role="form">
                <div class="row">
                    <div class="col-md-12">
                        <label for="wall-title">タイトルを入力</label>
                        <input
                        	type="text"
                        	class="form-control"
                        	id="wall-title"
                        	placeholder="タイトルを入力"
                        	maxlength="22"
                        	ng-model="wall.title" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <label for="wall-pw" class="hidden-xs">
                            パスワードを設定する
                            <span
                            	popover="パスワードを設定すると秘密のWallが作成できます。"
                            	popover-trigger="mouseenter"
                            	class="glyphicon glyphicon-question-sign"></span>
                        </label>

                        <label for="wall-pw" class="hidden-sm hidden-md hidden-lg">
                            パスワードを設定
                            <small>（パスワードで秘密のWallを作成）</small>
                        </label>

                        <div class="input-group">
                            <span class="input-group-addon">PW</span>
                            <input
                            	type="text"
                            	class="form-control"
                            	id="wall-pw" placeholder="パスワードを入力（英数小文字2文字以上）"
                            	ng-model="wall.password" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal body -->

		<!-- modal footer -->
        <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-default hide" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="create($event)">この内容で作成する</button>
            <span>※Wallは30日間アクセスしないと自動的に消えてしまいます</span>
        </div>
        <!-- modal footer -->
</script>