.create-card-wrap {
	@include base_card($create-card_bg_color, $create-card_color, $base-card-height);
	display: table;
    border: 2px solid $card_bg_color;
    text-align: center;
}

.create-card {
	display: table-cell;
	font-size: 28px;
	vertical-align: middle;
	&:hover {opacity: .7;}
}

.card {
	@include base_card($card_bg_color, $card_color, $card-title-height);
    padding: 10px;
    border: 1px solid #d1d1d1;
    box-sizing: padding-box;
}

.modal-title {
	padding: 0px 10px;
	display: block;
	overflow: auto;
	word-break: break-all;
	span:hover {opacity: .5;}
}

.card-description {
	.glyphicon-align-left {
		padding-top: 6px;
		font-size: 13px;
	}
	.description-text {font-size: 16px;}
}

.url-link {
  font-size: 14px;
  padding: 5px;
  background-color: $global_bg_color;
}

.url-text {
	display: block;
	@include no-wrap-text();
	.glyphicon-link {width: 15px;}
	a {
		color: gray;
		&:hover {color: black;}
		.ng-binding {
			&:hover {text-decoration: underline;}
		}
		small {
			&:hover {
				color: gray;
				text-decoration: underline;
			}
		}
	}
}

.url-modal-text {
	position: relative;
	left: 9px;
	top: -7px;
	.glyphicon-link {width: 20px;}
}

.modal-footer {
	text-align: left;
	padding: 10px 10px 10px 20px;
	span {
		display: inline-block;
		font-size: 14px;
		margin-right: 8px;
	}
}