.margin0 {
	margin: 0;
}

.pointer:hover {
	cursor: pointer;
}

.table-row {
	display: table;
	text-align: left;
}

.table-cell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.table-cell-top {
	padding-top: 2px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.padding-left10 {
	padding-left: 10px;
}

.padding10 {
	padding: 10px;
}

@mixin no-wrap-text() {
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.no-wrap-text {
	@include no-wrap-text();
}