@mixin base_card($bg_color, $color, $height) {
    background-color: $bg_color;
	margin-top: 10px;
	min-height: $height;
	color: gray;
	&:hover {
	  cursor: pointer;
	  opacity: .9;
	}
}

@mixin placeholder($color, $size) {
	&::-moz-placeholder {
		color: $color;
		font-size: $size;
	}
	&::-webkit-input-placeholder {
		color: $color;
		font-size: $size;
	}
	&::-ms-input-placeholder {
		color: $color;
		font-size: $size;
	}
	&::placeholder-shown {
		color: $color;
		font-size: $size;
	}
}