.test { background-color: #ebebeb; }

$global_bg_color: #F3F3F3;
$card_bg_color: white;
$card_color: black;
$create-card_bg_color: white;
$create-card_color: $card_bg_color;
$menu_gray_color: #909293;
$menu_gray_border_color: #abb0b3;
$menu_light_gray_color: #9daab1;
$white_hover_color: #f2f2f2;
$white_placeholder_color: #cbcbcb;


$base-card-height: 78px;
$card-title-height: 48px;
$card-url-height: $base-card-height - $card-title-height;